* {
  box-sizing: border-box;
  font-family: arial;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

svg text {
  color: black;
  text-anchor: middle;
}

.container {
  height: 99%;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
}

.flexFixedSize {
  flex: 0 0 auto;
}

.flexDynamicSize {
  flex: 1 1 auto;
}

.speechBubble {
  border: 4px solid lightgray;
  border-radius: 15px;
  padding: 15px;
}

.fullPage{
  height: 90vh;
}
