@import "colors.css";

* {
  box-sizing: border-box;
  font-family: "Bank Printer";
  font-weight: normal;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-blue);
  color: white;
}

svg text {
  color: black;
  text-anchor: middle;
}

.container {
  height: 99%;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
}

.flexFixedSize {
  flex: 0 0 auto;
}

.flexDynamicSize {
  flex: 1 1 auto;
}

.speechBubble {
  border: 4px solid lightgray;
  border-radius: 15px;
  padding: 15px;
}

.fullPage{
  height: 96vh;
}
.heading{
  font-size: 37.5pt;
  color: var(--persona-green);
}
.text{
  font-size: 15pt;
  color: white;
}
.last{
  margin-bottom: 0;
}
.loading{
  margin: auto;
}
.one-line-top{
  position: relative;
  top: -98px;
  right: -133px;
  line-height: 3pt;
}
.two-line-center{
  position: relative;
  top: -110px;
  right: -418px;
  line-height: 3pt;
}
.three-line-center {
  position: relative;
  top: -120px;
  right: -418px;
  line-height: 3pt;
}
.three-line-top{
  position: relative;
  top: -118px;
  right: -133px;
  line-height: 3pt !important;
}