* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.border {
  border: solid;
  padding: 3px;
  margin: 3px;
  border-radius: 15px;
}

.container {
  height: 99%;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
}

.flexFixedSize {
  flex: 0 0 content;
}

.flexDynamicSize {
  flex: 1 1 auto;
}

