.Page1_container {
    justify-content: space-evenly;
}
.icons{
    margin: 0 auto 100px;
    text-align: center;
}
.icons:last-child{
    margin-right: 0;
}
.icon{
    width: 125px;
    height: 155px;
    border-radius: 15px;
    display: inline-block;
    background-color: var(--persona-green);
    margin-right: 18px;
}
.vertical_line{
    height: 308px;
    width: 5pt;
    background-color: white;
    border-radius: 2px;
    float:left;
}
.centered{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.logo{
    height: 51px;
    width: 51px;
    display: block;
    fill: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
.left{
    margin-top: 40px;
    text-align: left;
    float: right;
}
.right{
    text-align: right;
    float: left;
    margin-right: 15px;
}
.fiftyfive{
    margin-bottom: 55px;
}
.left_right{
    width: 900px;
    height: 308px;
    margin-bottom: 100px;
    line-height: 16.5pt !important;
}
.subheading{
    font-size: 20pt;
    margin-right: 10px;
}
.page1_text .text{
    line-height: 25px;
}