.Datasource_container {
    align-items: center;
    border: lightgray 4px solid;
    margin: 5px;
    padding: 5px;
    height: 230px;
}

.Datasource_selected {
    border: red 4px solid;
}

.Datasource_image {
    margin-right: 15px;
}
.source_options li{
    margin-bottom: 15pt;
}