.Datasource_container {
    align-items: center;
    border: var(--border-blue) 1px solid;
    border-radius: 10px;
    margin-bottom: 40px;
    height: 230px;
}

.Datasource_selected {
    border: var(--persona-green) 1px solid;
    box-shadow: 2px 2px 17px var(--persona-green);
}
.source_name{
    display: inline-block;
}

.Datasource_text{
    margin-top: 15px;
}

.Datasource_image {
    margin-right: 15px;
    margin-left: 15px;
    height: 42px;
    display: inline;
}
.source_options li{
    margin-bottom: 12px;
    list-style: none;
}

.source_options ul{
    padding-left: 20px;
}

.source_option{
    display: inline-block;
    margin: 0 15px 0 0; !important;
    color: var(--choice-light-blue);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 3px solid var(--choice-light-blue);
    text-align: center;
}
.source_option_active{
    display: inline-block;
    margin: 0 15px 0 0;
    color: black;
    background-color: var(--choice-light-blue);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 3px solid var(--choice-light-blue);
    text-align: center;
}
.data_button{
    background-color: var(--persona-green);
    border-radius: 8px;
    width: 100px;
    height: 54px;
    text-align: right;
    top: -85px;
    position: relative;
    font-size: 30pt;

}
.data_button p{
    position: relative;
    top: -28px;
    right: 5px;
}

.data_button_selected{
    background-color: var(--persona-green);
    border-radius: 3px 10px 10px 3px;
    width: 100px;
    height: 230px;
    text-align: right;
    font-size: 30pt;
    filter: opacity(0.7);
}
.data_button_selected p{
    position: relative;
    top: -25px;
    right: 5px;
}
