.persona_container {
    align-items: center;
    border: lightgray 4px solid;
    margin: 5px;
    padding: 5px;
    height: 230px;
}

.persona_selected {
    border: red 4px solid;
}

.persona_image {
    margin-right: 50px;
    margin-left: 15px;
    height: 230px;
    width: 150px;
}
.persona_text p{
    margin-bottom: 15pt;
}