.persona_container {
    align-items: center;
    border: var(--border-blue) 1px solid;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 5px;
    height: 230px;
}

.persona_selected {
    border: var(--persona-green) 1px solid;
    box-shadow: 2px 2px 17px var(--persona-green);
}

.persona_image {
    margin-right: 50px;
    margin-left: 20px;
    height: 220px;
    width: 150px;
}
.persona_text p{
    margin-bottom: 15pt;
}
.persona_button{
    background-color: var(--persona-green);
    border-radius: 8px;
    width: 100px;
    height: 54px;
    text-align: right;
    top: -85px;
    position: relative;
    font-size: 30pt;

}
.persona_button p{
    position: relative;
    top: -28px;
    right: 5px;
}

.persona_button_selected{
    background-color: var(--persona-green);
    border-radius: 3px 10px 10px 3px;
    width: 100px;
    height: 230px;
    text-align: right;
    font-size: 30pt;
    filter: opacity(0.7);
}
.persona_button_selected p{
    position: relative;
    top: -25px;
    right: 5px;
}
