.result_container {
    align-items: center;
    border: var(--border-blue) 1px solid;
    border-radius: 10px;
    margin-bottom: 40px;
    height: 230px;
}

.result_name{
    display: inline-block;
}

.result_selected {
    border: var(--persona-green) 1px solid;
    box-shadow: 2px 2px 17px var(--persona-green);
}

.result_image {
    margin-right: 15px;
    margin-left: 15px;
    height: 42px;
    display: inline;
}
.result_active{

}
.result_inactive{
    filter: opacity(0.1);
}
.result_active .results_options ul{
    margin: 0;
}

.result_option{
    float: left;
    display: inline-block;
    margin: 0 15px 0 0;
    color: var(--choice-light-blue);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 3px solid var(--choice-light-blue);
    text-align: center;
}
.result_option_active{
    float: left;
    display: inline-block;
    margin: 0 15px 0 0;
    color: black;
    background-color: var(--choice-light-blue);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 3px solid var(--choice-light-blue);
    text-align: center;
}

.results_options li{
    margin-bottom: 12px;
    list-style: none;
}

.result_button {
    background-color: var(--persona-green);
    border-radius: 8px;
    width: 100px;
    height: 54px;
    text-align: right;
    top: -85px;
    position: relative;
    font-size: 30pt;

}

.result_button p {
    position: relative;
    top: -28px;
    right: 5px;
}

.result_button_selected {
    background-color: var(--persona-green);
    border-radius: 3px 10px 10px 3px;
    width: 100px;
    height: 230px;
    text-align: right;
    font-size: 30pt;
    filter: opacity(0.7);
}

.result_button_selected p {
    position: relative;
    top: -25px;
    right: 5px;
}
