.result_container {
    align-items: center;
    border: lightgray 4px solid;
    margin: 5px;
    padding: 5px;
    height: 230px;
}

.result_selected {
    border: red 4px solid;
}

.result_image {
    margin-right: 15px;
}
.result_active{

}
.result_inactive{
    filter: opacity(0.1);
}
.result_active .results_options ul{
    margin: 0;
}

.results_options li{
    margin-bottom: 15px;
}