.speechBubble_text {

}
.box_center{
    width: 643.33px;
    height: 146.25px;
}
.box_top{
    width: 835.37px;
    height: 147.25px;
}

.logo_top{
    width: 76.63px;
    height: 78px;
}
.logo_center{
    width: 355px;
    height: 352px;
}
.text_top{
    position: relative;
    top: -133px;
    right: -133px;
    line-height: 3pt;
}
.text_center{
    position: relative;
    top: -133px;
    right: -418px;
    line-height: 3pt;
}

.top{
    margin-top: 15px;
    height: 210px;
}
.center{
    margin: auto;
}